N8N_Workflows/KAI___Github___Auto_backup_using_llm_to_summarize_changes_copy.json
{
  "createdAt": "2025-08-02T02:49:50.196Z",
  "updatedAt": "2025-08-02T03:01:06.000Z",
  "id": "bt640nzcV4XIfXBO",
  "name": "KAI - Github - Auto backup using llm to summarize changes copy",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1744510d-7ed7-46d8-acd3-f975ab73f298",
              "name": "active",
              "type": "boolean",
              "value": "={{ $json.active }}"
            },
            {
              "id": "7e76f5dc-0c32-4b26-a289-975155b80112",
              "name": "url",
              "type": "string",
              "value": "=http://localhost:5678/workflow/{{ $json.id }}"
            },
            {
              "id": "a7b069bf-8090-4dca-a432-f4fd7aa84e6f",
              "name": "errorWorkflow",
              "type": "boolean",
              "value": "={{ !!$json.settings?.errorWorkflow }}"
            },
            {
              "id": "0bff7a9b-0860-4552-b0f6-5fc279fc75d6",
              "name": "workflow-name",
              "type": "string",
              "value": "={{ $json.name }}"
            },
            {
              "id": "3065ee2f-d1bb-42b7-b341-7bb38b0f6720",
              "name": "updatedAt",
              "type": "string",
              "value": "={{ $json.updatedAt }}"
            },
            {
              "id": "ea9d39e4-50ca-4c79-b6ab-8b22cafd0257",
              "name": "createdAt",
              "type": "string",
              "value": "={{ $json.createdAt }}"
            },
            {
              "id": "265d66cd-1796-40eb-ae5b-dca8d1a91871",
              "name": "envId",
              "type": "string",
              "value": "=internal-{{ $json.id }}"
            },
            {
              "id": "6ffb9c13-82a7-4f40-b2e6-887c018b747c",
              "name": "workflow-definition",
              "type": "string",
              "value": "={{ JSON.stringify($json, null, 2) }}"
            },
            {
              "id": "8b2a1098-125f-44b0-b8c0-99098e582156",
              "name": "workflow-export-filename",
              "type": "string",
              "value": "={{ $json.name.replace(/ /g, \"_\").replace(/-/g, \"_\") + \".json\" }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8fcd3925-4d18-4102-a1a4-c3a0d3c5bf1c",
      "name": "Set fields",
      "type": "n8n-nodes-base.set",
      "position": [
        1120,
        352
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/2438eab14f6180a7ae57c368ee9afe10/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"filter\": { \"and\": [\n    {\n        \"property\": \"envId\",\n        \"rich_text\": { \"contains\": \"{{ $json.envId }}\" }\n    }]\n}\n}",
        "options": {}
      },
      "id": "1a1d8f40-d13d-4129-bdd7-eb7e26eb91ca",
      "name": "Get notion page with workflow id",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1280,
        352
      ],
      "typeVersion": 4.1,
      "credentials": {
        "notionApi": {
          "id": "n2OpdLYvvViJexf9",
          "name": "Polidata-beta Notion"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "49092f3a-7f42-4067-b8ea-1073ef1d1bb8",
              "name": "input",
              "type": "object",
              "value": "={{ $('Set fields').item.json }}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "cae8eac3-5339-4603-bf46-0dcdb4714665",
      "name": "Map fields",
      "type": "n8n-nodes-base.set",
      "position": [
        1440,
        352
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "23c8eab1-4f61-8020-afc5-ef6c8d5d0151",
          "mode": "list",
          "cachedResultName": "Workflow Tracker",
          "cachedResultUrl": "https://www.notion.so/23c8eab14f618020afc5ef6c8d5d0151"
        },
        "title": "={{ $('Map fields').item.json.input['workflow-name'] }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Workflow Name|title",
              "title": "={{ $('Map fields').item.json.input['workflow-name'] }}"
            },
            {
              "key": "URL (dev)|url",
              "urlValue": "={{ $('Map fields').item.json.input.url }}"
            },
            {
              "key": "isActive (dev)|checkbox",
              "checkboxValue": "={{ $('Map fields').item.json.input.active }}"
            },
            {
              "key": "Workflow created at|date",
              "date": "={{ $('Map fields').item.json.input.createdAt }}"
            },
            {
              "key": "Workflow updated at|date",
              "date": "={{ $('Map fields').item.json.input.updatedAt }}"
            },
            {
              "key": "Error workflow setup|checkbox",
              "checkboxValue": "={{ $('Map fields').item.json.input.errorWorkflow }}"
            },
            {
              "key": "Record last update|date",
              "date": "={{ $now }}"
            },
            {
              "key": "AI Summary|rich_text",
              "textContent": "={{ $json.message.content }}"
            },
            {
              "key": "envId|rich_text",
              "textContent": "={{ $('Map fields').item.json.input.envId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "906b4252-8b37-4720-922a-304aac720bb4",
      "name": "Add to Notion",
      "type": "n8n-nodes-base.notion",
      "position": [
        2272,
        320
      ],
      "typeVersion": 2.1,
      "credentials": {
        "notionApi": {
          "id": "n2OpdLYvvViJexf9",
          "name": "Polidata-beta Notion"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Map fields').item.json.results[0].id }}"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "isActive (dev)|checkbox",
              "checkboxValue": "={{ $('Set fields').item.json.active }}"
            },
            {
              "key": "Workflow updated at|date",
              "date": "={{ $('Set fields').item.json.updatedAt }}"
            },
            {
              "key": "Error workflow setup|checkbox",
              "checkboxValue": "={{ $('Set fields').item.json.errorWorkflow }}"
            },
            {
              "key": "AI Summary|rich_text",
              "textContent": "={{ $json.message.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ac56811d-3c2d-427b-b12a-63e979094e81",
      "name": "Update in Notion",
      "type": "n8n-nodes-base.notion",
      "position": [
        2272,
        512
      ],
      "typeVersion": 2.1,
      "credentials": {
        "notionApi": {
          "id": "n2OpdLYvvViJexf9",
          "name": "Polidata-beta Notion"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Concisely tell me what this N8N plugin does in 1-2 lines, then describe how it does it in no more than a paragraph, but only if that detail was already covered by the first 1-2 lines - we don't want to repeat ourselves.\n<n8nplugin>\n{{ $json.input['workflow-definition'] }}\n</n8nplugin>"
            }
          ]
        },
        "options": {}
      },
      "id": "a45c1d7c-86a0-4ad2-a409-ac34bedf3a70",
      "name": "Summarize what the Workflow does",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1680,
        352
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "79jHL8vAUxLHQecL",
          "name": "Polidata-beta GPT"
        }
      }
    },
    {
      "parameters": {
        "content": "## Extract key fields",
        "height": 300,
        "width": 480,
        "color": 4
      },
      "id": "9b7a0ea1-b46c-47b7-ad60-f9cd7d065732",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1072,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Generate documentation in Notion\n",
        "height": 440,
        "width": 1080,
        "color": 5
      },
      "id": "e24bd651-ac54-41da-9580-6f19da4a418f",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1600,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "kadens-cloud-dev",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "KAI-Workflows",
          "mode": "name"
        },
        "filePath": "=N8N_Workflows/{{ $('Set fields').item.json['workflow-export-filename'].replaceAll(/[\\/:*?\"<>|,\\t\\n#%&']/g, \"_\") }}",
        "fileContent": "={{ $('Set fields').item.json['workflow-definition'] }}",
        "commitMessage": "=updated by N8N #{{ $execution.id }}"
      },
      "id": "57ddfe41-5d1a-4330-acb2-5d65da9487d6",
      "name": "Upload changes to repo",
      "type": "n8n-nodes-base.github",
      "position": [
        1904,
        848
      ],
      "typeVersion": 1,
      "webhookId": "787289fe-be3c-42aa-b3fe-c72af683693e",
      "credentials": {
        "githubOAuth2Api": {
          "id": "1QBd5tg7kt2G5YRf",
          "name": "Polidata-beta Github"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "kadens-cloud-dev",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "KAI-Workflows",
          "mode": "name"
        },
        "filePath": "=N8N_Workflows/{{ $('Set fields').item.json['workflow-export-filename'].replaceAll(/[\\/:*?\"<>|,\\t\\n#%&']/g, \"_\") }}",
        "fileContent": "={{ $('Set fields').item.json['workflow-definition'] }}",
        "commitMessage": "created by N8N"
      },
      "id": "f27383cb-6241-4b9f-821a-395d44d1d3b1",
      "name": "Create new file in repo",
      "type": "n8n-nodes-base.github",
      "position": [
        2240,
        848
      ],
      "typeVersion": 1,
      "webhookId": "6ccd846a-6204-4526-b5e9-849cdfe2d130",
      "credentials": {
        "githubOAuth2Api": {
          "id": "1QBd5tg7kt2G5YRf",
          "name": "Polidata-beta Github"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "## Check workflow setup OK ",
        "height": 360,
        "width": 480,
        "color": 3
      },
      "id": "065c9296-638c-40fa-a6f1-2f08b48480e5",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1072,
        704
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Upload / backup workflow to GitHub repo",
        "height": 360,
        "width": 1080,
        "color": 5
      },
      "id": "c349e83c-18cf-4bc1-a22e-f26dfee35e6b",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1600,
        704
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Check weekly for changes on active internal-infra workflows",
        "height": 300,
        "width": 660
      },
      "id": "a3729898-72cb-4730-9dde-3d88be889024",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 1,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "88337d36-8cf6-4cd5-bec1-5123cf612934",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $('Map fields').item.json.results }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "8a27ba12-b6a1-4d32-a7cf-860800c3ac4d",
      "name": "Is this a new workflow (to Notion) ?",
      "type": "n8n-nodes-base.if",
      "position": [
        2032,
        352
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "5f0685ee-2ffa-4cf8-8d65-32addb4bb703",
              "operator": {
                "type": "dateTime",
                "operation": "afterOrEquals"
              },
              "leftValue": "={{ $json.updatedAt }}",
              "rightValue": "={{ new Date(new Date().setDate(new Date().getDate()-1)).toISOString() }}"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3ed0ce08-8644-44ee-aef5-6bf2e05155d9",
      "name": "Check if updated in last 7 days",
      "type": "n8n-nodes-base.if",
      "position": [
        880,
        352
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "filters": {
          "activeWorkflows": false,
          "tags": "KAI"
        },
        "requestOptions": {}
      },
      "id": "2788feb8-0f0f-49a7-bebe-b3d023857a88",
      "name": "Get active workflows with internal-infra tag",
      "type": "n8n-nodes-base.n8n",
      "position": [
        656,
        352
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "usxbCawIrC3zqOiE",
          "name": "KM N8N LOCAL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c53617b5-a217-4111-a229-82d93fb0bec6",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.input.errorWorkflow }}",
              "rightValue": ""
            },
            {
              "id": "3ea0c94e-e192-4e94-867f-788feda52d61",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.input['workflow-name'] }}",
              "rightValue": "Polidata - Error Workflow"
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "1cd7b50f-2a61-42b4-84c2-57e333363b08",
      "name": "Check that error workflow has been configured",
      "type": "n8n-nodes-base.if",
      "position": [
        1136,
        768
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=WARNING: Failed to upload new N8N workflow <{{ $json.input.url }}|{{ $json.input['workflow-name'] }}> to repo",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        2528,
        928
      ],
      "id": "5a06af35-7954-47c4-9dca-ac5b8e994fa9",
      "name": "Discord1",
      "webhookId": "95b247d6-e2d7-489d-8446-5db190fdae1f",
      "credentials": {
        "discordWebhookApi": {
          "id": "b0luRZGodVQDioha",
          "name": "KAI Github Progress"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        416,
        352
      ],
      "id": "a344e07d-44a5-4777-b326-ba4b7327497b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=*Pushed new workflow to Notion* ```{{ $('Map fields').item.json.input['workflow-name'] }}\n\n{{ $json.property_ai_summary }}```\n",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        2528,
        320
      ],
      "id": "00bbfba9-5493-45c4-9b58-aae5aeca9b8a",
      "name": "Pushed new workflow",
      "webhookId": "f818ba7f-a82c-4ad3-a252-5ac1eeba0621",
      "credentials": {
        "discordWebhookApi": {
          "id": "b0luRZGodVQDioha",
          "name": "KAI Github Progress"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=*Updated workflow in Notion* -> {{ $('Map fields').item.json.input['workflow-name'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        2528,
        512
      ],
      "id": "7fdc73a2-0453-4357-848a-0f51ec599b84",
      "name": "Updated workflow in Notion",
      "webhookId": "22c5d6c5-376a-4c87-8b4a-94f7e535a2ad",
      "credentials": {
        "discordWebhookApi": {
          "id": "b0luRZGodVQDioha",
          "name": "KAI Github Progress"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=WARNING: Error workflow has NOT been setup for: <{{ $json.input.url }}|{{ $json.input['workflow-name'] }}> (No backup will take place until err-workflow is configured)",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1344,
        864
      ],
      "id": "af31d3ba-8aea-4dc3-914d-bed660cf52c5",
      "name": "Error workflow",
      "webhookId": "ffe55d2b-9317-413b-b9e5-7419df848e22",
      "credentials": {
        "discordWebhookApi": {
          "id": "E2WmYKteOyqAQXAc",
          "name": "KAI Github Error"
        }
      }
    }
  ],
  "connections": {
    "Map fields": {
      "main": [
        [
          {
            "node": "Check that error workflow has been configured",
            "type": "main",
            "index": 0
          },
          {
            "node": "Summarize what the Workflow does",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set fields": {
      "main": [
        [
          {
            "node": "Get notion page with workflow id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Notion": {
      "main": [
        [
          {
            "node": "Pushed new workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update in Notion": {
      "main": [
        [
          {
            "node": "Updated workflow in Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload changes to repo": {
      "main": [
        [],
        [
          {
            "node": "Create new file in repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create new file in repo": {
      "main": [
        [],
        [
          {
            "node": "Discord1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if updated in last 7 days": {
      "main": [
        [
          {
            "node": "Set fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get notion page with workflow id": {
      "main": [
        [
          {
            "node": "Map fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize what the Workflow does": {
      "main": [
        [
          {
            "node": "Is this a new workflow (to Notion) ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is this a new workflow (to Notion) ?": {
      "main": [
        [
          {
            "node": "Add to Notion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update in Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get active workflows with internal-infra tag": {
      "main": [
        [
          {
            "node": "Check if updated in last 7 days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check that error workflow has been configured": {
      "main": [
        [
          {
            "node": "Upload changes to repo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get active workflows with internal-infra tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error workflow": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v0",
    "errorWorkflow": "fBb2ByVyggQauZEU"
  },
  "staticData": null,
  "meta": {
    "templateId": "3354",
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "179827d9-f15f-42c7-a1ec-610894a582bd",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2025-08-02T02:49:06.714Z",
      "updatedAt": "2025-08-02T02:49:06.714Z",
      "id": "CZpd6RJyE4jKvzFK",
      "name": "KAI"
    },
    {
      "createdAt": "2025-07-26T16:26:55.546Z",
      "updatedAt": "2025-07-26T16:26:55.546Z",
      "id": "Flb96dPUkr8Xp6XU",
      "name": "github"
    },
    {
      "createdAt": "2025-07-26T16:26:59.056Z",
      "updatedAt": "2025-07-26T16:26:59.056Z",
      "id": "ymrfpVGdtdxogJzd",
      "name": "v1"
    }
  ]
}